<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

</style>

<div id="redirects_table">
  <table border="1px solid gray">
    <tr id="header_row">
      <th>Keywords</th>
      <th>Created</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </table>
</div>

<form id="matchform" action="">
  <input size=80 id="matchphrase"/> <button id="matchsubmit">Match Results</button>
</form>
<script type="text/javascript">
{% include 'match.js' %}
</script>
